#extension-webinterface-tab-container{
    max-width:80rem;
    margin: 0 auto;
}



#extension-webinterface-links{
    text-align:center;
}


#extension-webinterface-web-url-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
}
#extension-webinterface-web-url-container > *{
    margin:1rem;
}

/*  TABS  */

#extension-webinterface-tab-buttons{
    margin-top: 4rem;
    background-color: rgba(255,255,255,.1);
    border-radius: 0.7rem;
    overflow: hidden;
    border-radius:.5rem;
}
#extension-webinterface-view #extension-webinterface-tab-buttons button{
    background-color: transparent;
    border-right: 1px solid rgba(0,0,0,.05);
    color: #eee;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: none;
    border-radius:0;
    margin:0;
}
#extension-webinterface-view #extension-webinterface-tab-buttons button:hover{
    background-color: rgba(0,0,0,.3);
}

#extension-webinterface-tab-buttons button:last-child{
    float:right;
}

#extension-webinterface-view #extension-webinterface-tab-buttons .extension-webinterface-tab-selected{
    background-color:rgba(0,0,0,.3);
}

.extension-webinterface-hidden{
    display:none;
}

.extension-webinterface-vlak{
    padding:2rem;
    background-color:rgba(0,0,0,.1);
    border-radius:.5rem;
    margin:2rem;
}




/*  VISIT PAGE  */


#extension-webinterface-qrcode img{
    display:inline-block!important;
}


#extension-webinterface-two-column{
    display:flex;
    flex-wrap:wrap;
}
#extension-webinterface-two-column > div{
    width: calc(50% - 6rem);
    min-width: 200px;
    padding: 2rem;
    background-color: rgba(0,0,0,.1);
    margin: 1rem;
    border-radius: 0.5rem;
    flex-grow: 1;
}

#extension-webinterface-two-column button{
    margin-top:1rem;
}

#extension-webinterface-uuid{
    border:none;
    padding:.5rem;
    border-radius:.5rem;
}


#extension-webinterface-view a{
    color:white;
}


#extension-webinterface-view button{
    cursor:pointer;
    padding:1rem 2rem;
    border-radius:.5rem;
    background-color:rgba(0,0,0,.2);
    border:none;
    color:inherit;
    font-size:1.6rem;
}

#extension-webinterface-web-url{
    color:white;
    text-align:center;
    font-style:italic;
    overflow-wrap: break-word;
    word-wrap:break-word;
    max-width:100%;
}
#extension-webinterface-web-url button{
    font-size:2rem;
    padding:2rem 3rem;
}


#extension-webinterface-icon{
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url('../images/menu-icon.svg');
  background-size: contain;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0;
}

#extension-webinterface-title{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size:1.8rem;
    margin: 0 auto;
    display: block;
    padding: 0;
    padding-left: 3.8rem;
    font-size: 1.8rem;
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('../images/menu-icon.svg');
	width:12rem;
	margin:2rem auto;
}



#extension-webinterface-add-button{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	background-image: url(/images/add.svg);
	border-radius: 2.8rem;
}




#main-menu #extension-webinterface-menu-item {
  background-image: url('../images/menu-icon.svg');
}

/*
#extension-webinterface-title:hover{
	background-image: url('../images/menu-icon-filled.svg');
}
*/



#extension-webinterface-view {
  	height: 100%; /*calc(100% - 7.6rem);*/
  	box-sizing: border-box;
  	/*overflow: auto;*/
	overflow: auto;
	position: absolute;
	top: 7.6rem;
	left: 0;
	padding: 2rem;
}


#extension-webinterface-content {
	display:flex;
	flex-direction: column;
	flex-direction: column;
	overflow: auto;
  	position: relative;
  	text-align: left;
  	font-size: 1.6rem;
  	color: #fff;
	height:auto;
}


/*  THINGS LIST  */

#extension-webinterface-thing-list{
    display:flex;
    flex-wrap:wrap;
}

.extension-webinterface-item{
    margin-bottom:.5rem;
    cursor:pointer;
    display:flex;
    align-items:center;
    flex-grow:1;
    padding:1rem 2rem;
    min-width:20rem;
    margin-right:1rem;
    margin-bottom:1rem;
    width:25%;
    max-width:100%;
    background-color:rgba(0,0,0,.1);
    border-radius:.5rem;
}

#extension-webinterface-tab-access p{
    padding:2rem 2rem 0 2rem;
    
}




/*  THINGS  */

#extension-webinterface-thing-list label{
    margin-left:1rem;
    font-size:1.6rem;
    cursor:pointer;
    opacity:.8;
    width:100%;
}

#extension-webinterface-thing-list .extension-webinterface-item input:checked + label{
    opacity:1;
    font-weight:bold;
}



#extension-webinterface-view input[type=checkbox]
{
  -ms-transform: scale(2); 
  -moz-transform: scale(2); 
  -webkit-transform: scale(2); 
  -o-transform: scale(2);
  transform: scale(2);
  padding: 10px;
}



/*  HUGE TOGGLE  */

#extension-webinterface-allow-toggle-container{
    text-align:center;
}

#extension-webinterface-view #extension-webinterface-outside-access{
    padding:5rem;
    margin:5rem;
    transform: scale(5);
    display:inline-block;
}
#extension-webinterface-outside-access + label{
    display:block;
}


#extension-webinterface-thing-list-save-button{
    margin-top:2rem;
}

#extension-webinterface-allow-toggle-container + p{
    text-align:center;
}


/*  HELP  */

.extension-webinterface-tab li{
    margin-bottom:1rem;
}



@media screen and (max-width: 640px) {
    #extension-webinterface-view #extension-webinterface-tab-buttons button{
        font-size:1.6rem;
    }
}


@media screen and (min-width: 1025px) {
	#extension-webinterface-view{
		left:9.6rem;
		top: 0;
		height:100vh; 
		position:absolute;
		width: calc(100% - 9.6rem);
		padding-right:9.6rem;
	}
	
	#extension-webinterface-content-container{
		height:auto;
		width: calc(100% - 3rem);
	}
	
}


@media screen and (min-width: 1500px) {
	.extension-webinterface-item-setter-part{
		display:inline-block;
	}
}

