<div id="extension-webinterface-content">
  
    <div id="extension-webinterface-content-container">
        <h3 id="extension-webinterface-title"><!--<span id="extension-webinterface-icon"></span>-->Webinterface</h3>

        <div id="extension-webinterface-main">
            <p>You can access the web interface from outside of your home by visiting this webpage:</p>
            <a id="web-url" href="#"><button>Open</button></a>
            
            <p>There you can login with this anonymous ID:</p>
            <input id="uuid"/>
            <p>You can request a new anonymous ID by <span id="new-uuid-button">clicking here</span>.</p>
            
            <p>You can set the password in the <a href="/settings/addons/config/webinterface">settings page</a> of this addon.</p>
            
        </div>


        <br/>
        <br/>

        <div id="extension-webinterface-response">
            <p id="extension-webinterface-response-data"></p>
        </div>
        <br/>

    </div>
    
</div>





