<div id="extension-webinterface-content">
  
    <div id="extension-webinterface-content-container">
        <h3 id="extension-webinterface-title"><!--<span id="extension-webinterface-icon"></span>-->Webinterface</h3>

        <div id="extension-webinterface-list">
        
        
        </div>
        
        
        <div id="extension-webinterface-original-item" class="extension-webinterface-item">

            <div class="extension-webinterface-item-setter">
                
                <div class="extension-webinterface-item-setter-part">
                    <span class="extension-webinterface-leader">
                        <select class="extension-webinterface-thing1" class="extension-webinterface-dropdown">
                            <option value=""></option>
                        </select><select class="extension-webinterface-property1" class="extension-webinterface-dropdown">
                            <option value=""></option>
                        </select>
                    </span>
                </div>
            </div>
            
            <div class="extension-webinterface-item-menu">
                <div class="extension-webinterface-item-left">
                    <form class="rule-switch switch">
                        <input type="checkbox" id="extension-webinterface-toggle-checkbox" class="switch-checkbox extension-webinterface-enabled">
                        <label class="switch-slider" for="extension-webinterface-toggle-label">
                        </label>
                    </form>
                </div>

                <div class="extension-webinterface-item-right">

                    <div class="extension-webinterface-item-delete-button">&nbsp;</div>
                </div>
            </div>
        
            <div class="rule-edit-overlay delete">
                <div class="rule-delete-dialog">
                    <p>Are you sure you want to remove this highlight permanently?</p>
                    <input class="rule-delete-cancel-button" type="button" data-l10n-id="rule-delete-cancel-button" value="Cancel">
                    <input class="rule-delete-confirm-button" type="button" value="Remove">
                </div>
            </div>
            
        </div>


        <br/>
        <br/>

        <div id="extension-webinterface-response">
            <p id="extension-webinterface-response-data"></p>
        </div>
        <br/>

    </div>
    
    <button id="extension-webinterface-add-button" class="icon-button" aria-label="New"></button>
    
</div>





